@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Skranji:wght@700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3ff;
  /* background-image: linear-gradient(#5cc2ea, #ffffff); */
  /* background-image: linear-gradient(#c0c0c0, #00ffff); */
  /* background-color: #f5f5f5; */
  /* background-image: url(./Components/bgNotes2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.home {
  filter: brightness(50%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  background-color: #ffffff9e; /* background-image: linear-gradient(#5cc2ea, #ffffff); */
  height: 5rem;
}
.nav-link:hover {
  color: rgb(0 168 45);
}

.card-body {
  color: rgb(11, 45, 22);
  font-weight: 900;
  font-size: large;
  font-family: sans-serif;
}

.first-line {
  /* background: #8d794c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 12px;
  width: 100%;
}
.card-text {
  color: #5b5b5a;
  font-size: 1.1rem;
  font-family: sans-serif;
  padding-right: 16px;
}

.notes {
  background-color: #8add8a;
  color: #e70202;
  /* border: 1px solid #1e1902; */
  border-radius: 5px;
  margin: 12px;
  margin-left: 67px;
  padding: 0;
}

.btn-primary {
  background-color: transparent;
  color: #000000;
  font-size: 1.1rem;
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.btn-primary:hover {
  background: #32cd32;
  transition: 0.3s;
  color: #000000;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1,
h1 {
  font-size: 2.5rem;
  color: #32cd32;
  margin-top: 4rem;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 1s ease, transform 1s ease;
}
.h1,
h1 {
  opacity: 1;
  transform: translateY(20deg);
}

.pg,
p {
  font-size: 1.6rem;
  color: #555555;
  opacity: 0;
  transform: translateX(23px); /* Optional: Add a slight upward movement */
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}

.signup {
  background-color: #32cd32;
  color: #fffefd;
  font-weight: 600;
  margin-left: 48px;
}
.signup:hover {
  background-color: #fffefb;
  color: rgb(19, 19, 19);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: -96px;
}
.image1 {
  width: 120px;
  height: 80px;
  font-size: 2.2rem;
  background: #edebeb;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 2s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}
.image2 {
  width: 140px;
  height: 100px;
  background: #be8f8f;
  box-shadow: 4px 2px 2px 1px rgba(49, 42, 42, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 3s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}
.image3 {
  width: 160px;
  height: 120px;
  background: #c08282;
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 4s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}
.image4 {
  width: 180px;
  height: 140px;
  background: #bc7373;
  box-shadow: 6px 2px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px);
  transition: opacity 5s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}

.bgNotes {
  height: 20rem;
  width: 90vw;
  background-image: url(https://images.pexels.com/photos/927517/pexels-photo-927517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .navbar {
    border: 0px solid rgb(157, 157, 157);
  }
  .container {
    margin-top: 5rem;
  }
  .h1 {
    margin-top: 0rem;
  }
  .organise h1 {
    margin: 0;
    font-size: 2.4rem;
    opacity: 0;
    transform: translateY(80px); /* Optional: Add a slight upward movement */
    transition: opacity 1s ease, transform 1s ease;
  }
  .organise h1 {
    opacity: 1;
    transform: translateY(90deg);
  }
  .pg p {
    font-size: 1.2rem;
  }
  .notes {
    margin-left: 32px;
  }
  .myNote {
    margin-top: 0;
  }
  .images {
    margin-top: 5px;
  }
}
