@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Skranji:wght@700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3ff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.home {
  filter: brightness(50%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  background-color: #ffffff9e;
  height: 5.5rem;
  z-index: 1;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.nav-link {
  color: rgb(0, 0, 0);
}
.nav-link:hover {
  color: rgb(0 168 45);
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-body {
  font-weight: 900;
  font-size: large;
  font-family: sans-serif;
}

.first-line {
  /* background: #8d794c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 12px;
  width: 100%;
}
.card-text {
  color: #5b5b5a;
  font-size: 1.1rem;
  font-family: sans-serif;
  padding-right: 16px;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 (fully visible) */
  }
}
.notes {
  box-shadow: 3px 2px 2px 1px rgba(194, 196, 158, 0.2);
  background-color: #f0f0f0;
  padding: 10px;
  margin: 12px;

  border: 1px solid #ccc;
  opacity: 0; /* Start with opacity 0 (hidden) */
  animation-name: fadeIn;
  animation-duration: 0.5s; /* Animation duration */
  animation-timing-function: ease-in-out; /* Animation timing function */
  animation-fill-mode: forwards;
}

.notes:hover {
  background-color: #6adf6a;
  cursor: pointer;
  padding: 11px;
}

.btn-primary {
  background-color: transparent;
  color: #000000;
  font-size: 1.1rem;
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.btn-primary:hover {
  background: #32cd32;
  padding: 8px;
  transition: 0.5s ease-in-out;
  color: #000000;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
  }
  100% {
    text-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
  }
}

.h1,
h1 {
  font-size: 2.4rem;
  color: #32cd32;
  margin-top: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  animation: neonGlow 1s linear infinite alternate;
}
.h1,
h1 {
  opacity: 1;
  transform: translateY(20deg);
}

.pg,
p {
  font-size: 1.6rem;
  color: #555555;
  opacity: 0;
  transform: translateX(23px);
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}

.signup {
  background-color: #32cd32;
  color: #fffefd;
  font-weight: 600;
  margin-left: 48px;
}
.signup:hover {
  background-color: #fffefb;
  color: rgb(19, 19, 19);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: -116px;
  margin-bottom: 50px;
}
.image1 {
  width: 120px;
  height: 80px;
  font-size: 2.2rem;
  background: #edebeb;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 2s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}
.image2 {
  width: 100px;
  height: 100px;

  box-shadow: 4px 2px 2px 1px rgba(49, 42, 42, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 3s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
}
.image3 {
  width: 160px;
  height: 120px;
  background: #848bcd;
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px); /* Optional: Add a slight upward movement */
  transition: opacity 4s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
  animation: slideIn 6s ease-in-out infinite;
}
.image4 {
  width: 180px;
  height: 140px;
  background: #8483bd;
  box-shadow: 6px 2px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: translateX(44px);
  transition: opacity 5s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(90deg);
  animation: slideIn 5s ease-in-out infinite;
}
@keyframes lottieAni {
  from {
    transform: translateY(+70vh);
  }
  to {
    transform: translateY(0);
  }
}
.lottie {
  width: auto !important ;
  box-shadow: 23px 2px 2px 12px rgba(19, 89, 219, 0.2);
  animation: lottieAni;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}
.bgNotes {
  height: 20rem;
  width: 90vw;
  background-image: url(https://images.pexels.com/photos/927517/pexels-photo-927517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

  background-attachment: fixed;
  background-size: cover;
}

.contact {
  background-color: lightGreen;
  width: 40%;
  padding: 48px;
  border-radius: 7px;
  font-weight: 600;
  box-shadow: 6px 2px 2px 5px rgb(213, 220, 213);
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: -86px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  min-width: 99vw;
  height: 4rem;
  box-shadow: 2px 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 750px) {
  .navbar {
    border: 0px solid rgb(157, 157, 157);
  }
  .navbar ul li {
    font-size: 0.88rem;
  }
  body {
    width: auto;
    margin-left: auto;
  }
  .home {
    width: 100%;
    margin-left: 0;
  }
  .container {
    margin-top: 5rem;
  }

  /* .organise h1 {
    text-align: center;
    font-size: 2rem;
    color: #32cd32;
  } */

  .pg p {
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    margin-top: -85px;
  }
  .notes {
    margin-left: 32px;
  }
  .myNote {
    margin-top: 0;
  }
  .images {
    margin-top: 5px;
  }
  .lottie {
    width: auto !important ;
    box-shadow: 13px 2px 2px 8px rgba(19, 89, 219, 0.2);
  }
}
